.Cat {
    /* background: purple; */
    padding: 40px;
}

div {
    background: rgb(27, 212, 236);
    padding: 20px
}

h1 {
    color: plum;
    text-shadow: 2px 3px 5px purple;
}

h2 {
    color: #fffb96;
    /* text-shadow: 2px 3px 5px royalblue; */
}